body {
  font-family: "Roboto", sans-serif;
}

.container-wrapper{
    background-color: rgba(71, 77, 71, 0.5);
}

.container-wrapper--red{
    background-color: rgba(170, 61, 10, 0.5);
}

/* navbar */
.navalert-container{
    position: absolute;
    top:0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;

}

.navbar{
    margin-bottom: 0;
    border:0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25)
}

.navbar .navbar-toggler{
    border: 0;
}
.navbar-brand{
    font-weight: bold;

}

.navbar .navbar-nav a{
    font-weight: bold;
}

.alert-container {
    padding:0;
}

.side-wide-alert{
    color: #f0cd1d;
    border-radius: 0;
    margin-bottom: 0;
    padding:5px 15px;
    background-color: #554d24;
    border-color:#554d24;
}

.callout-container {
  height: 100vh;

  background: url("../images/whiskey-background.jpg") no-repeat bottom right
    fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  animation-name: zoom;
  animation-duration: 5s;
animation-fill-mode: forwards;

}

.opaque-overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(71, 77, 71, 0.3)
}



.quotes-container {
}

.features-container {
}

.monthly-favorites-container {
}

/* Jumbotron */

.jumbotron{
    background: transparent;
}

.jumbotron-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead{
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small{
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0
}

/* Block dividers */

.block-divider{
    width: 150px;
    height: 2.5px;
    border: 0;
    background-color: 	rgb(134, 121, 121);
}

.block-divider--short{
    width: 75px;
    height: 2.5px;
    border: 0;
    background-color: 	rgb(134, 121, 121);
}

/* Buttons */

.btn--cta{
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--red{
    color: white;
    background-color: rgba(170, 61, 10, 0.5);
    border-color: rgba(170, 61, 10, 0.5);
}

.btn--cta:hover,
.btn--cta:active,
.btn--cta:focus,
.btn--cta:active:focus{
    background-color: #83250f;
    border-color: #83250f;
    color: white;
}

/* Page headers */

.page-header{
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2{
    margin-top: 0;
}

.quotes-container .page-header{
    margin-bottom: 25px;
}

/* Content container */

.content-container{
    padding-top:75px;
    padding-bottom:75px;
}

.feature{
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    color: rgba(170, 61, 10, 0.7);
}

.feature .btn{
    border-color:rgba(170, 61, 10, 0.5);
    background-color: rgba(170, 61, 10, 0.5);
    border-radius: 15px;
    min-width: 100px;
    margin-top:10px;
    color: white;
}

.feature .btn:hover{
    background-color: #83250f;
    border-color: #83250f;
}


@keyframes zoom{
    from{
        transform: scale(100%);
        }
    to {
        transform: scale(115%)
    }
}